<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Bittyburb</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/site.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<md-toolbar id="nav" layout class="md-whiteframe-7dp">
			<div class="md-toolbar-tools">
				<a ui-sref="Home">
					<img id="navLogo" src="../images/bittyburb-logo-draft1-phu.png">
				</a>
				<div>
					<md-button ui-sref="Home" class="md-button" aria-label="Bittyburb">
						Bittyburb
					</md-button>
				</div>
				<span flex></span>
<!-- 				<md-button ui-sref="Home">
					About
				</md-button> -->
				<md-button ui-sref="Survey" class="regNav">
					Survey
				</md-button>
				<md-button ui-sref="Contact" class="regNav">
					Contact
				</md-button>
				<md-button id="mobileNavToggle" class="md-button-icon" aria-label="Mobile Nav" ng-click="showMobileNav = !showMobileNav">
					<i class="fa fa-bars"></i>
				</md-button>
				<!-- <md-button ui-sref="Invest">
					Invest
				</md-button> -->
<!-- 				<md-button ui-sref="Blog">
					Blog
				</md-button> -->
			</div>
	</md-toolbar>
		<div id="mobileNav" ng-show="showMobileNav">
				<md-button ui-sref="Survey" ng-click="showMobileNav = !showMobileNav">
					Survey
				</md-button>
				<md-button ui-sref="Contact" ng-click="showMobileNav = !showMobileNav">
					Contact
				</md-button>
		</div>

<footer>
	<md-toolbar layout-align="center center">
			<div class="md-toolbar-tools">
				<p>&copy; Copyright 2016 Bittyburb</p>
			<span flex></span>
				<md-button>
					<i class="fa fa-linkedin"></i>
				</md-button>
				<md-button>
					<i class="fa fa-facebook"></i>
				</md-button>
				<md-button>
					<i class="fa fa-twitter"></i>
				</md-button>
			</div>
	</md-toolbar>
</footer>

	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

	<!-- JavaScript -->
	<script src="/javascript/app.js"></script>
	<script src="/javascript/services/HomeFactory.js"></script>
	
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/ContactController.js"></script>
</body>
</html>
