/* line 17, ../compass/sass/style.scss */
body, html {
  color: #000;
  font-family: 'Merriweather Sans', sans-serif;
}
/* line 20, ../compass/sass/style.scss */
body a, html a {
  text-decoration: none;
  color: #3c5d8e;
  font-weight: bold;
}
/* line 25, ../compass/sass/style.scss */
body sup, html sup {
  font-size: .3em;
}
/* line 28, ../compass/sass/style.scss */
body h1, body h5, body h2, body h4, html h1, html h5, html h2, html h4 {
  text-align: center;
}
/* line 31, ../compass/sass/style.scss */
body h2, html h2 {
  margin: 2em auto 1em auto;
}
/* line 34, ../compass/sass/style.scss */
body h5, html h5 {
  margin-top: -1.6em;
}

/* line 39, ../compass/sass/style.scss */
md-input-container label {
  color: black;
}

/* line 44, ../compass/sass/style.scss */
.md-toolbar-tools {
  background: black;
}

/* line 48, ../compass/sass/style.scss */
.active {
  border-bottom: 2px solid white;
}

/* line 52, ../compass/sass/style.scss */
#copy {
  position: fixed;
  bottom: 3.3em;
  right: 0;
  text-align: center;
}
/* line 57, ../compass/sass/style.scss */
#copy p {
  font-size: .9em;
}

/* line 62, ../compass/sass/style.scss */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* line 66, ../compass/sass/style.scss */
footer a {
  color: #3c5d8e;
}
/* line 69, ../compass/sass/style.scss */
footer .md-button.md-fab {
  background: black;
  color: white;
}
/* line 72, ../compass/sass/style.scss */
footer .md-button.md-fab i {
  font-size: 1.3em;
}
/* line 76, ../compass/sass/style.scss */
footer .md-button.md-fab.md-mini:hover {
  background: #3c5d8e;
  color: black;
}
/* line 79, ../compass/sass/style.scss */
footer .md-button.md-fab.md-mini:hover i {
  font-size: 1.3em;
}

/* line 86, ../compass/sass/style.scss */
.lock-size .md-raised {
  background: black;
  color: white;
}

/* line 92, ../compass/sass/style.scss */
a.md-button.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
  background: #3c5d8e;
  color: white;
}

/* line 99, ../compass/sass/style.scss */
#navLogo {
  width: 66px;
  margin: auto;
}

/* line 105, ../compass/sass/style.scss */
#homeLogo {
  text-align: center;
}
/* line 107, ../compass/sass/style.scss */
#homeLogo img {
  width: 290px;
  margin-top: 1.9em;
  margin-bottom: -2em;
}

/* line 115, ../compass/sass/style.scss */
#aboutHome h1 {
  margin-top: 10px;
}
/* line 118, ../compass/sass/style.scss */
#aboutHome p {
  margin: auto;
  text-align: justify;
}
/* line 122, ../compass/sass/style.scss */
#aboutHome a {
  font-weight: bold;
  color: #3c5d8e;
}

/* line 128, ../compass/sass/style.scss */
#mainInfo {
  width: 70%;
  margin: auto;
  margin-bottom: 1.6em;
}

/* line 134, ../compass/sass/style.scss */
.p1, .p3 {
  padding: 1em 0;
  margin: 1em;
}
/* line 137, ../compass/sass/style.scss */
.p1 img, .p3 img {
  width: 300px;
  float: left;
  margin-right: 1em;
}

/* line 145, ../compass/sass/style.scss */
.p2 {
  padding: 1em 0;
  text-align: justify;
  margin: 1em;
}
/* line 149, ../compass/sass/style.scss */
.p2 img {
  width: 300px;
  float: right;
  margin-left: 1em;
}

/* line 161, ../compass/sass/style.scss */
#survey p {
  padding: 1em;
  margin: 1em auto;
  width: 60%;
}
/* line 167, ../compass/sass/style.scss */
#survey a {
  font-weight: bold;
  color: #3c5d8e;
}
/* line 171, ../compass/sass/style.scss */
#survey div {
  text-align: center;
  margin: auto;
}
/* line 175, ../compass/sass/style.scss */
#survey .md-button {
  top: 67%;
  left: 1%;
  margin: auto;
  font-weight: bold;
}

/* line 184, ../compass/sass/style.scss */
#surveyCta {
  width: 60%;
  height: 300px;
  background: url("../images/bittyburb-question-mark.jpg") no-repeat center;
  background-size: 307px 379px;
}

/* line 191, ../compass/sass/style.scss */
#threeHouses {
  text-align: center;
  margin-bottom: 3em;
}
/* line 194, ../compass/sass/style.scss */
#threeHouses img {
  width: 360px;
}

/* line 202, ../compass/sass/style.scss */
#takeAction h4 {
  margin-bottom: 3em;
}
/* line 205, ../compass/sass/style.scss */
#takeAction p {
  width: 70%;
  margin: 1em auto;
}
/* line 209, ../compass/sass/style.scss */
#takeAction #petitionCta {
  margin: 3em auto;
  text-align: center;
}

/* line 219, ../compass/sass/style.scss */
#contact a {
  color: black;
}
/* line 222, ../compass/sass/style.scss */
#contact i {
  font-size: 1.3em;
}
/* line 225, ../compass/sass/style.scss */
#contact p {
  width: 79%;
  margin: 3em auto;
}
/* line 229, ../compass/sass/style.scss */
#contact form {
  width: 60%;
  margin: 2em auto 6em auto;
  padding: 1.6em;
}
/* line 233, ../compass/sass/style.scss */
#contact form h3 {
  text-align: center;
}
/* line 237, ../compass/sass/style.scss */
#contact div {
  text-align: center;
}
/* line 240, ../compass/sass/style.scss */
#contact .md-button {
  margin: auto;
  display: block;
}

/* line 246, ../compass/sass/style.scss */
#mobileNav, #mobileNavToggle {
  display: none;
}

@media only screen and (max-width: 1060px) {
  /* line 254, ../compass/sass/style.scss */
  #mainInfo {
    width: 90%;
  }

  /* line 258, ../compass/sass/style.scss */
  #survey p {
    width: 90%;
  }
}
@media only screen and (max-width: 560px) {
  /* line 266, ../compass/sass/style.scss */
  footer p {
    display: none;
  }

  /* line 269, ../compass/sass/style.scss */
  .regNav {
    display: none;
  }

  /* line 273, ../compass/sass/style.scss */
  #mobileNav {
    display: inherit;
  }
  /* line 275, ../compass/sass/style.scss */
  #mobileNav .md-button {
    display: block;
    border: thin solid black;
  }

  /* line 281, ../compass/sass/style.scss */
  #mobileNavToggle {
    display: inherit;
    text-align: center;
  }
  /* line 284, ../compass/sass/style.scss */
  #mobileNavToggle i {
    width: 100%;
    font-size: 2em;
  }

  /* line 290, ../compass/sass/style.scss */
  #survey h4 {
    margin: 3em;
  }

  /* line 294, ../compass/sass/style.scss */
  .p1, .p3, .p2 {
    padding: 1em;
    margin: auto;
  }
  /* line 297, ../compass/sass/style.scss */
  .p1 img, .p3 img, .p2 img {
    width: 100%;
    float: none;
    margin: .6em auto;
  }

  /* line 303, ../compass/sass/style.scss */
  #surveyCta {
    width: 90%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 311, ../compass/sass/style.scss */
  #survey p {
    width: 79%;
  }
}
