/* line 16, ../compass/sass/style.scss */
body, html {
  color: #000;
  font-family: 'Merriweather Sans', sans-serif;
}
/* line 19, ../compass/sass/style.scss */
body a, html a {
  text-decoration: none;
}
/* line 22, ../compass/sass/style.scss */
body sup, html sup {
  font-size: .3em;
}
/* line 25, ../compass/sass/style.scss */
body h1, body h5, html h1, html h5 {
  text-align: center;
}
/* line 28, ../compass/sass/style.scss */
body h5, html h5 {
  margin-top: -1.6em;
}

/* line 33, ../compass/sass/style.scss */
md-input-container label {
  color: black;
}

/* line 38, ../compass/sass/style.scss */
.md-toolbar-tools {
  background: black;
}

/* line 42, ../compass/sass/style.scss */
.active {
  border-bottom: 2px solid white;
}

/* line 46, ../compass/sass/style.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* line 50, ../compass/sass/style.scss */
footer p {
  font-size: .7em;
}

/* line 57, ../compass/sass/style.scss */
#navLogo {
  width: 30px;
  margin: auto;
}

/* line 63, ../compass/sass/style.scss */
#homeLogo {
  text-align: center;
  margin-top: 1.7em;
}
/* line 66, ../compass/sass/style.scss */
#homeLogo img {
  width: 260px;
}

/* line 71, ../compass/sass/style.scss */
#aboutHome {
  margin-bottom: 7em;
}
/* line 73, ../compass/sass/style.scss */
#aboutHome h1 {
  margin-top: 10px;
}
/* line 76, ../compass/sass/style.scss */
#aboutHome p {
  margin: 1em auto;
  padding: 0 2em;
}
/* line 80, ../compass/sass/style.scss */
#aboutHome a {
  font-weight: bold;
  color: black;
}

/* line 89, ../compass/sass/style.scss */
#survey h2, #survey h4 {
  text-align: center;
}
/* line 92, ../compass/sass/style.scss */
#survey h2 {
  margin: 2em auto 1em auto;
}
/* line 95, ../compass/sass/style.scss */
#survey p {
  margin: 1em auto;
  width: 60%;
}
/* line 99, ../compass/sass/style.scss */
#survey a {
  font-weight: bold;
  color: black;
}
/* line 103, ../compass/sass/style.scss */
#survey div {
  text-align: center;
  margin: auto;
}
/* line 107, ../compass/sass/style.scss */
#survey i {
  margin: .6em auto;
  font-size: 3em;
}
/* line 111, ../compass/sass/style.scss */
#survey .md-button {
  padding: 0 2em;
  font-weight: bold;
}

/* line 120, ../compass/sass/style.scss */
#contact h2 {
  text-align: center;
  margin: 2em auto 1em auto;
}
/* line 124, ../compass/sass/style.scss */
#contact a {
  color: black;
}
/* line 127, ../compass/sass/style.scss */
#contact p {
  width: 79%;
  margin: 3em auto;
}
/* line 131, ../compass/sass/style.scss */
#contact form {
  width: 60%;
  margin: 2em auto 6em auto;
  padding: 1.6em;
}
/* line 135, ../compass/sass/style.scss */
#contact form h3 {
  text-align: center;
}
/* line 139, ../compass/sass/style.scss */
#contact div {
  text-align: center;
}
/* line 142, ../compass/sass/style.scss */
#contact .md-button {
  margin: auto;
  display: block;
}

/* line 148, ../compass/sass/style.scss */
#mobileNav, #mobileNavToggle {
  display: none;
}

@media only screen and (max-width: 360px) {
  /* line 155, ../compass/sass/style.scss */
  .regNav {
    display: none;
  }

  /* line 158, ../compass/sass/style.scss */
  footer p {
    display: none;
  }

  /* line 162, ../compass/sass/style.scss */
  #mobileNav {
    display: inherit;
  }
  /* line 164, ../compass/sass/style.scss */
  #mobileNav .md-button {
    display: block;
    border: thin solid black;
  }

  /* line 170, ../compass/sass/style.scss */
  #mobileNavToggle {
    display: inherit;
    text-align: center;
  }
  /* line 173, ../compass/sass/style.scss */
  #mobileNavToggle i {
    width: 100%;
    font-size: 2em;
  }
}
@media only screen and (max-width: 560px) {
  /* line 182, ../compass/sass/style.scss */
  footer p {
    display: none;
  }
}
