<div id="contact" ng-controller="ContactController as cf">
	<h2>Share Your Dream with Our Team</h2>
	<p>
		The purpose of this site is to make sure Bittyburb is built and organized just how its future residents want it to be. I'm lucky to have extensive knowledge and and an amazing network in real estate and sustainable development, but experience tells me that if Bittyburb is going to be a full and vibrant community, it's going to take your input as well.
	</p> 
	<p>
		So please, take a minute to drop me a note below, and I'll get back to you promptly. Or if you'd rather not speak in person, you can do the next best thing by completing our <a ng-href="https://www.surveymonkey.com/r/bittyburbsurvey" target="_blank">survey.</a> With your help, Bittyburb's development will soon be underway, and it'll be a place we're all happy to call home.
	</p>
	<p>
		Thank you,
	</p>
	<p>
		Anthony Capitan
		<br>
		<small><strong>Co-Creator of Bittyburb</strong></small>
	</p> 

		<p flex-sm="90" flex class="md-button contactCTAS" aria-label="Bittyburb number">
			<i class="fa fa-phone-square"></i>&nbsp;(510) 833-5027
		</p>
		<p flex-sm="90" flex class="md-button contactCTAS">
			<i class="fa fa-envelope"></i>&nbsp;anthony@bittyburb.com
		</p>
		<p flex-sm="90" flex class="md-button contactCTAS" aria-label="Bittyburb survey">
			<a ng-href="https://www.surveymonkey.com/r/bittyburbsurvey" target="_blank">
				<i class="fa fa-question-circle"></i>&nbsp;Take our survey
			</a>
		</p>
	<form class="md-whiteframe-6dp" data-ng-submit="cf.sendMail()">
		<h3>Get In Touch...</h3>
		<md-input-container>
			<label>
				Your Name
			</label>
			<input type="text" name="name" value="" data-ng-model="cf.contactName" required>
		</md-input-container>
		<md-input-container>
			<label>
				Message
			</label>
			<input type="text" name="name" value="" data-ng-model="cf.contactMessage" required>
		</md-input-container>

		<md-input-container>
			<label>
				Your Email
			</label>
			<input type="email" name="name" value="" data-ng-model="cf.contactEmail" required>
		</md-input-container>

		<md-button type="submit" ng-click="showSuccess" class="md-button md-raised">
			Send Message
		</md-button>
	</form>
</div>
