<div ng-controller="HomeController as hm" id="aboutHome">
	
	<h1>
		{{hm.title}}<sup>TM</sup>
	</h1>
	<h5>
		TINY HOME COMMUNITY
	</h5>
	<p>
		If you dream of living in a tiny home on wheels, but don’t know where you’d put it, Bittyburb may be your dream come true. And if you’re building a tiny home, or live in one already, Bittyburb could be precisely the community you’ve been waiting for: all the upsides of living tiny, without the potential drawbacks.
	</p>
	<p>
		Bittyburb’s residents will be free to use the community’s shared living space, large kitchen and dining area, as well as reserve them for entertaining from time to time. The community’s landscape will be a mix of natural beauty, picturesque private spaces, and communal gardens. A common studio will provide a hub of culture and educational opportunities. And crucially, the property will be a legal subdivision in which residents can choose to either rent the spaces beneath their tiny homes, or purchase them.
	</p>
	<p>
		Beyond these features though, it’s your feedback that will shape what Bittyburb ultimately becomes. Until our development plans are finalized, the main purpose of this website is to connect with you - potential Bittyburbians ☺. So please, take the time to reach out to us via our <a ui-sref="Contact">contact page</a> - help us translate our assumptions about the community you want into facts, and help make our collective dream a reality. 
	</p>
	
</div>
