<div id="survey">
	<h2>
		Take the Bittyburb Survey
	</h2>
	<h3>
		What does your ideal tiny community look like?
	</h3>
	<p>
		If you like the idea of living or staying in a community of tiny homes, we need your help to bring that idea to life. Without the honest input of potential Bittyburbians, we can’t be sure of what you want. And unless we’re reasonably certain Bittyburb will be a community people are eager and able to live in, we’re not going to build it. So please, take a few minutes to fill out our survey - tell us exactly how you want your tiny community to look:
	</p>
	<div>
		<a ng-href="#" target="_blank">
			<md-button>
					TAKE THE BITTYBURB SURVEY
			</md-button>
		</a>
	</div>
	<div>
		<a ng-href="#" target="_blank">
			<md-button>
				Get our monthly Newsletter
			</md-button>
		</a>
	</div>
		
	<p>
		Additionally, you can also help us even more by scheduling an interview with us. Through a short, online or phone interview, we can get an even better sense of what you want in a tiny community, where, and when. You can schedule an interview or contact us with any questions about this project by visiting our <a ui-sref="Contact">contact page.</a>
	</p>
	
 
</div>
