<div id="survey">
	<h2>
		Take the Bittyburb Survey
	</h2>
	<h4>
		What does your ideal tiny community look like?
	</h4>
	<p>
		If you might be interested in living in a tiny house community, please take a few minutes to help us make Bittyburb <span style="font-weight:bold;">your</span> ideal. We have no way of knowing what you want in a tiny community unless you tell us.
	</p>
	<div>
		<a ng-href="https://www.surveymonkey.com/r/bittyburbsurvey" target="_blank">
			<md-button class="md-button md-raised">
					<i class="fa fa-bar-chart"></i>
					<br>
					TAKE THE BITTYBURB SURVEY
			</md-button>
		</a>
	</div>
	<p>
		We also invite you to visit our <a ui-sref="Contact">contact page</a> to ask any questions you have, or schedule an interview with us. The more info we can gather about your tiny intentions, the greater the chances Bittyburb will become a community you’d love to live in.
	</p>
	
 
</div>
