<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-74987454-1', 'auto');
ga('send', 'pageview');
</script>

<div id="takeAction">
	<h2>Take Action for Tiny Home Autonomy</h2>
	<h4>
		<i>We only have till April 11th to make our voices heard!</i>
	</h4>
	<p>The U.S. Department of Housing and Urban Development is proposing a new rule that will further complicate things for tiny house builders, owners and community organizers. If we want the tiny house movement to keep growing, it’s urgent we take this opportunity to <strong>tell HUD secretary Julián Castro to lead HUD in adopting rules that will empower folks to legally create tiny house communities across the U.S.</strong></p>
	<div id="petitionCta">
		<a ng-href="https://secure.avaaz.org/en/petition/HUD_Secretary_Julian_Castro_Lead_HUDs_effort_to_adopt_regs_for_Small_Mobile_Domiciles_SMDs/?edQzmkb" target="_blank">
			<md-button class="md-button md-raised">
					SIGN THE PETITION:
					<br>
					FREE THE TINY HOMES
			</md-button>
		</a>
	</div>
	<div id="threeHouses">
		<img src="../minImages/illustration 03 just houses.jpg">
	</div>
	<h4>
		Background
	</h4>
	<p>
		The rule HUD’s proposing says that any tiny house builder certifying her or his tiny house on wheels as an RV will have to clearly display the tiny house is for “recreational use, not [for use] as a primary residence."
	</p>
	<p>
		This rule will mainly affect tiny house builders, as this disclosure only needs to be displayed inside the tiny house till it’s sold. And it will not outlaw living in tiny house RVs or tiny house communities. HUD determines federal policy about what an RVs proper use is, but local governments ultimately decide whether they’ll permit long-term residence in RVs within their city and county limits. 
	</p>
	<p>
		Still, this rule will no doubt hurt the tiny house movement: It will confuse would-be tinytarians about the legality of living in a tiny home, hurt the business of tiny house builders, and could affect the attitudes of local policymakers. But it also provides us with an opportunity ...
	</p>
	<p>
		What’s needed most at this moment to liberate the tiny life are federal regulations that recognize tiny houses on wheels as Small Mobile Domiciles appropriate for primary residence. By signing and sharing the above petition, and commenting on this proposed HUD rule <a href="http://www.regulations.gov/#!documentDetail;D=HUD-2016-0013-0001" target="_blank">here</a>, you can help jumpstart this regulatory change - together, we all can.
	</p>

</div>